.div-1 {
    background-color: #e2e2e2;
    width: 30%;
    height: 30%;
}

.div-2 {
    background-color: #ef3de2;
    width: 30vw;
    height: 30vw;
}

.div-3 {
    background-color: green;
    font-size: 20vw;
}

#inner-div {
    background-color: blue;
    height: .5em;
    width: .5em;
}

.div-4 {
    background-color: yellow;
    width: 600px;
    height: 600px;
}


