html {
    font-size: 16px;
}

h1 {
    color: cadetblue;
    font-size: 2.5rem;
}

h2 {
    color: darkblue;
}

li {
    font-size: 1.5rem;
}

.red-bg-color {
    background-color: red;
    color: white;
    line-height: 2;
}

.fix-size{
    background-color: aqua;
    height: 300px;
    width: 300px;
}
